.product-information {
    display: flex;
    justify-content: space-between;
    & > div {
        flex: 0 0 48%;
    }
}

.product-name {
    font-weight: 300;
}

.product-info-price {
    display: flex;
    justify-content: space-between;
    color: #575757;
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 15px;
    margin-bottom: 15px;
    .product-price {
        font-size: 36px;
        font-weight: 600;
    }
}