.product-information {
    display: flex;
    justify-content: space-between;
    & > div {
        flex: 0 0 48%;
    }
    .action.primary {
        padding: 14px 17px;
        font-size: 18px;
        width: 49%;
    }
    .qty {
        display: flex;
        flex-direction: column;
        input {
            width: 54px;
            text-align: center;
        }
    }
    .field {
        margin-bottom: 20px;
        label {
            margin-bottom: 8px;
        }
        .swatch-attribute {
            margin-bottom: 10px;
        }
    }
}

.product-name {
    font-weight: 300;
}

.product-info-price {
    display: flex;
    justify-content: space-between;
    color: #575757;
    border-bottom: 1px solid #c1c1c1;
    padding-bottom: 15px;
    margin-bottom: 15px;
    .product-price {
        font-size: 36px;
        font-weight: 600;
    }
}