.messages {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 1280px;
    width: 100%;
    .global-message {
        padding: 10px 20px;
        margin-top: 10px;
        &.error {
            background-color: #fae5e5;
            border: 1px solid #e02b27;
            color: #e02b27;
        }
        &.success {
            background-color: #D0F8D4;
            border: 1px solid #209C2C;
            color: #209C2C;
        }
    }
}