.nav-sections {
  background-color: #f0f0f0;
  margin-bottom: 20px;
  .naviation {
    margin-left: auto;
    margin-right: auto;
    max-width: 1280px;
    padding: 0 8px;
  }

  .nav-items {
    display: flex;

    .item {
      position: relative;

      &.active {
        & > a {
          border-bottom: 3px solid #ff5501;
          color: #333;
        }
      }

      &.parent {
        a {
          padding-right: 20px;
        }
        .icon-dropdown {
          display: inline-block;
          position: absolute;
          top: 50%;
          right: 0;
          transform: translateY(-50%);
        }
      }

      a {
        color: #575757;
        font-weight: 700;
        padding: 12px;
        display: inline-block;
        &:hover {
          color: #333;
        }
      }

      .icon-dropdown {
        display: none;
      }

      .children-category {
        position: absolute;
        top: 100%;
        background-color: #fff;
        min-width: 230px;
        padding: 15px 0;
        border: 1px solid #ccc;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.19);
        li {
          position: relative;
          &:hover {
            background: #e8e8e8;
          }
        }
        a {
          font-weight: 400;
          display: block;
        }
        .icon-right {
          position: absolute;
          top: 50%;
          right: 5px;
          transform: translateY(-50%);
        }
      }
      
      [class*='level-']:not(.level-2) {
        left: 100%;
        top: 0;
        transform: translateY(0);
      }
    }
  }
}