.products.list {
    display: grid; /* 1 */
    grid-template-columns: repeat(auto-fill, 220px); /* 2 */
    grid-gap: 1rem; /* 3 */
    justify-content: space-between; /* 4 */
}

.product-image-photo {
    max-width: 220px;
    max-height: 320px;
    .product-item {
        margin-bottom: 20px;
    }
}

.product-item-inner {
    margin-top: 10px;
    button {
        width: 100%;
    }
}

.price-box {
    margin-top: 10px;
}

.product-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product.name {
    font-weight: 500;
}

.product-image-container {
    display: inline-block;
    position: relative;
    max-width: 100%;
}

.product-image-out-of-stock {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 50;
}

.product-image-wrapper {
    display: block;
    height: 0;
    overflow: hidden;
    position: relative;
    z-index: 1;
}

.product-image-photo {
    bottom: 0;
    display: block;
    height: auto;
    left: 0;
    margin: auto;
    max-width: 100%;
    position: absolute;
    right: 0;
    top: 0;
}

.swatch-options {
    margin-top: 20px;
}

.swatch-attribute-options {
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
    &.size {
        .swatch-option {
            background: #f0f0f0;
            color: #949494;
            &.selected {
                background: #ffffff;
                border: 1px solid #ffffff;
                color: #000000;
            }
        }
    }
}

.swatch-option {
    flex: 0 0 36px;
    border: 1px solid #dadada;
    cursor: pointer;
    margin: 0 10px 5px 0;
    overflow: hidden;
    padding: 1px 2px;
    position: relative;
    text-align: center;
    text-overflow: ellipsis;
    &.selected {
        outline: 2px solid #ff5501;
        border: 1px solid #ffffff;
        color: #333333;
    }
    &:not(.disabled):hover {
        border: 1px solid #ffffff;
        color: #333333;
        outline: 1px solid #999999;
    }  
    &.text {
        background: #f0f0f0;
        color: #686868;
        font-size: 12px;
        font-weight: 700;
        line-height: 20px;
        margin-right: 7px;
        min-width: 22px;
        padding: 4px 8px;
    }
    &.color {
        height: 24px;
        &:not(.disabled):hover {
            border: 1px solid #ffffff;
            outline: 2px solid #c34000;
        }
    }
}